p {
	font-family: 'Roboto';
	color: #777777;
	background-color: #FFFFFF;
}

#wrapper {
	width: 80%;
	margin-left: 10%;
	align-self: center;
	background-size: 200% auto;
	padding: 0px 35px;
	color: #222222;
}

header {
	height: 20%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Rajdhani';
}

nav {
	font-weight: bold;
	background-color: #2f3742;
}

footer {
	font-size: 15px;
	font-weight: 400;
	font-style: italic; 
   	position: fixed;
   	text-align: center;
   	left: 0;
   	height: 70px;
   	bottom: 0;
   	width: 100%;
   	background-color: #000033;
}

a {
	color: #000033;
}

.h {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: -1%
}

a.selected:link, a.selected:visited {
	color: blue;
	font-weight: bold;
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	margin-bottom: -1%
}

#logo {
	margin-right: 25px;
}

#sec1 {
	margin-left: 10%;
	margin-top: -1%;
	display: inline;
	height: 33%;
	width: 80%;
	margin-right: 10%
}

#sec1div1 {
	margin-left: 5%;
	margin-top: 0%
}

#logosec1 {
	margin-left: 8%;
	padding-top: 5%
}

#title1 {
	color: blue;
	margin-left: 8%;
	margin-top: 0%;
	margin-right: 0%;
}

#title2 {
	margin-left: 8%;
	margin-top: -1%;
}

#biodata {
	float: right;
	margin-top: -16%;
	margin-right: 37%;
}

#biodatadesc {
	float: right;
	margin-top: -13.5%;
	margin-right: 11.8%;
	font-size: 15px;
	width: 35%;
	font-weight: 400;
}

#sec2 {
	margin-top: 12%;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

#sec2img {
	margin-left: 37%;
}

#proposito {
	margin-top: 0%;
	margin-left: -20%;
}

#propositodesc {
	width: 60%;
	max-height: 10%;
	margin-top: -1%;
	font-size: 15px;
	margin-left: 10%;
	font-weight: 400;
}

#sec3 {
	margin-top: 10%;
	max-width: 100%;
	background-color: #F8F8FF;
}

#iframeinicio {
	margin-left: 0%;
	margin-top: 1%;
	margin-bottom: 10%;
}

#objetivos {
	float: right;
	margin-top: 0%;
	margin-right: 38%;
	font-weight: bold;
	background-color: #F8F8FF;
}

#objetivosdesc {
	float: right;
	margin-top: -25%;
	margin-right: 10%;
	font-size: 15px;
	font-weight: 400;
	width: 35%;
	background-color: #F8F8FF;
}

#footerp {
	margin-left: -35%; 
	margin-top: 3%;
	background-color: #000033;
}

#centrodiv1 {
	display: inline;
	margin-top: 5%;
}

#misionh {
	margin-left: 12%;
	color: blue;
	padding-top: 8%;
}

#misiondesc {
	margin-left: -4%;
	width: 42%;
	margin-top: 0%;
	font-size: 15px;
	font-weight: 400;
}

#visionh{
	float: right;
	margin-right: 31%;
	margin-top: -14%;
	color: blue;
}

#visiondesc{
	float : right;
	margin-right: 12.5%;
	width: 44%;
	margin-top: -8%;
	font-size: 15px;
	font-weight: 400;
}

#valores {
	margin-top: 1%;
	margin-right: 15.5%;
}

#valoresdesc {
	width: 48%;
	max-height: 10%;
	margin-top: -1%;
	font-size: 15px;
	margin-left: 18%;
	font-weight: 400;
}

#valoresimg {
	margin-left: 40%;
	margin-top: 8%;
}

#boxes {
	display: inline-block;
	margin-top: 5%;
}

#col1 {
	height: 10%;
	width: 23.5%;
	margin-left: -1%;
	margin-top: 1%;
	background-color: #F8F8FF; 
	float : left;
}

#col1social {
	margin-top: 1%;
}

#col1socialdesc {
	font-size: 15px;
	background-color: #F8F8FF; 
	margin-top: -2%;
	margin-bottom: -2%;
	padding-left: 4%;
	padding-right: 4%;
	font-weight: 400;
}

#col1corrdesc {
	font-size: 15px;
	font-weight: 400;
	background-color: #F8F8FF; 
	margin-top: -6%;
	margin-bottom: -2%;
	padding-left: 4%;
	padding-right: 4%;
}

#col2 {
	float: left;
	width: 26.5%;
	display: block;
	margin-left: 5%;
	margin-top: 0%;
}

#col21 {
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 2%;
	height: 20%;
	background-color: #F8F8FF; 
}

#col22 {
	margin-left: 10%;
	margin-top: -4%;
	height: 20%;
	background-color: #F8F8FF; 
}

#fradesc {
	background-color: #F8F8FF; 
	font-size: 15px;
	font-weight: 400;
	margin-top: -3%;
	padding-left: 4%;
	padding-right: 4%;
}

#soldesc {
	background-color: #F8F8FF; 
	font-size: 15px;
	font-weight: 400;
	margin-top: -3%;
	padding-left: 4%;
	padding-right: 4%;
}

#col21fra {
	margin-top: 5%;
}

#col22sol {
	margin-top: 0%;
}

#col3{
	float: right;
	width: 22%;
	display: block;
	margin-right: 18%;
	margin-bottom: 5%;
}

#col31 {
	margin-left: 10%;
	margin-top: -1%;
	height: 20%;
	background-color: #F8F8FF; 
}

#col32 {
	margin-left: 10%;
	margin-top: -1%;
	margin-bottom: 2%;
	height: 25%;
	background-color: #F8F8FF; 
}

#col31lib{
	background-color: #F8F8FF; 
}

#libdesc{
	background-color: #F8F8FF; 
	font-size: 15px;
	font-weight: 400;
	margin-top: -8%;
	padding-left: 4%;
	padding-right: 4%;
}

#col32{

}

#col32con {
	background-color: #F8F8FF; 
}

#condesc {
	background-color: #F8F8FF; 
	font-size: 15px;
	font-weight: 400;
	margin-top: -8%;
	padding-left: 4%;
	padding-right: 4%;
}

#eventos {
	display: inline-block;
}

#col1eventos {
	float: left;
	margin-left: 0%;
	margin-top: 5%;
	margin-bottom: 8%;
	width: 35%;
	font-size: 15px;
	font-weight: 400;
}

#col2eventos {
	float: right;
	margin-right: 13%;
	margin-top: 14%;
}

#login {
	margin-top: 15%;
	margin-left: 40%;
}

#logint {
	margin-top: 0%;
	margin-left: -15%;
}

#inputs {
	display: inline;
}

#email {
	float: left;
	border-radius: 4px;
	width: 27%;
	height: 30px;
	margin-right : 20%;
	margin-left: -22%;
}

#pwd {
	float: right;
	border-radius: 4px;
	width: 27%;
	height: 30px;
	margin-right : 62%;
	margin-top: -5%;
}

::placeholder {
	opacity: 2;
	padding-left: 5px;
	font-size: 15px;
	font-weight: 400;
}	

#loginbtn {
	background: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff
				100%); 
	background-size: 200% auto;
	padding-top: 0px 35px; 
	color: #222222;
	border-radius: 5px;
	height: 30px;
	width: 70px;
	margin-left: 2.5%;
	margin-top: -150%;
}